<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to eduPad</title>
  </head>
  <body>
    <h2>Welcome to EDUPAD</h2>
    <h4> - Earn while your learn</h4>
    <div class="btnContainer">
      <button class="button1">Login as a buyer</button> <br />
      <br />
      <button class="button1">Login as a seller</button>
    </div>
  </body>
</html>
