/* mainpage - index.html */
* {
  font-family: "Montserrat", "Lucida Sans", sans-serif, monospace;
}
body {
  background-color: #fde88b;
  font-family: "Montserrat", "Lucida Sans", sans-serif, monospace;
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 40%;
}
.text {
  color: #7b0ad8e0;
  text-align: center;
  margin-top: 96px;
  margin-bottom: auto;
  font-size: 96px;
}
.desc {
  color: #7b0ad8e0;
  margin-left: 500px;
}
b {
  color: #7b0ad8e0;
}
.welcomeNote {
  margin-top: 48px;
  width: auto;
  text-align: center;
  color: #000000;
  font-size: large;
}
.procedure {
  color: whitesmoke;
  margin-left: 70px;
  font-size: 70px;
  margin-top: 64px;
}
.steps .header {
  font-weight: 100px;
  font-size: larger;
  color: rgb(26, 131, 131);
  margin-left: 20px;
}
.steps .content {
  font-weight: bolder;
  font-size: medium;
  color: rgba(11, 43, 185, 0.788);
  margin-left: 70px;
}
.steps .note {
  color: #000000;
  font-weight: bold;
  margin-left: 10px;
}
.userSteps {
  width: 100%;
  height: 400px;
  display: flex;
}
.buyer {
  width: 50%;
  float: left;
}
.verticalline {
  border-left: 1px solid rgba(11, 43, 185, 0.788);
  height: 400px;
  position: absolute;
  margin-left: -3px;
  left: 50%;
}
.seller {
  float: right;
  width: 50%;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: wavy;
}
.getstartedContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.getstarted {
  text-align: center;
  background-color: burlywood;
  color: #7b0ad8e0;
  padding: 16px;
  width: fit-content;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  border-radius: 21px;
}
.getstarted:hover {
  background: #7d1ecaef;
  color: white;
  box-shadow: inset;
}

/* login page */
.signin {
  text-align: center;
  color: rgba(11, 43, 185, 0.788);
  margin-top: 32px;
}
.formContainer {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.form-body {
  padding: 20px 10px;
  font-size: large;
  width: 500px;
  height: 200px;
}
.userName,
.userPassword,
.field {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.form_label {
  width: 50%;
  margin: 8px;
}
.form_input, .selector {
  width: 70%;
  border-radius: 8px;
  height: 30px;
  border-style: none;
  padding-left: 5px;

}
input:focus {
  border-color: #7b0ad8e0;
  outline: none;
  box-shadow: 0 0 5px #7b0ad8e0;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button {
  color: #7b0ad8e0;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif, monospace;
  font-size: large;
  font-weight: 700;
  margin-right: 8px;
}
.button:hover {
  background-color: #7b0ad8e0;
  box-shadow: inset;
  color: white;
}

/* homepage for buyer */
.navBar {
  padding: 8px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}
.navBar li {
  display: inline-block;
}
.navBar a {
  background-color: burlywood;
  color: #7b0ad8e0;
  padding: 16px;
  margin-right: 48px;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  border-radius: 21px;
  font-family: "Montserrat", "Lucida Sans", sans-serif, monospace;
}
.navBar a:hover {
  background: #7d1ecaef;
  color: white;
  box-shadow: inset;
}

/* explore page of buyer 
.searchBarContainer {
  text-align: center;
  margin-top: 50px;
}
.searchBarContainer input {
  padding: 16px 16px;
  height: 8px;
  width: 400px;
  color: #7b0ad8e0;
  font-weight: 300;
  font-size: medium;
  font-family: "Montserrat", sans-serif, monospace;
  border-radius: 13px;
  margin: 8px;
  border-width: 0px;
}
input[type="text"]:focus {
  border-color: #7b0ad8e0;
  outline: none;
  box-shadow: 0 0 5px #7b0ad8e0;
}
*/
