<!DOCTYPE html>
<head>
    <title>Fun Time</title>
    <style>
        h3{
            color: blueviolet;
            font-family: 'Lucida Sans';
            font-style: oblique;
            text-align: center;
        }
        label{
            font-size: large;
            color: brown;
            font-style: inherit;
        }
        button{
            color: white;
            background-color: blue;
            border-color: blue;
            border-radius: 10cm;
        }
    </style>
    <script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btnSqr").click(function(e){
                var numOne = $("#inpFirstNum").val();
                var sqrurl = 'http://127.0.0.1:5000/sqr/' + numOne;
                $.ajax({
                    url : sqrurl,
                    success:function(r){
                        $("#lblResult").text("Square is " + r);
                    },
                    error:function(r){
                        $("#lblResult").text("Invalid");
                    }
                });
            });
        });
        $(document).ready(function(){
            $("#btnCube").click(function(e){
                var numOne = $("#inpFirstNum").val();
                var cuburl = 'http://127.0.0.1:5000/cub/' + numOne;
                $.ajax({
                    url : cuburl,
                    success:function(r){
                        $("#lblResult").text("Cube is " + r);
                    },
                    error:function(r){
                        $("#lblResult").text("Invalid");
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h3>lET'S dO sOME cALCULATIONS</h3>
    <br/><br/><br/>
    <p style="text-align: center;">
        <label>Enter a number : </label>
        <input id = "inpFirstNum", type="text"></input>
        <br/></br>
        <button id = "btnSqr">Square</button> &nbsp; <button id = "btnCube">Cube</button>
        <br/></br>
        <label>Result : </label>
        <label id = "lblResult"></label>
    </p>
</body>